<div class="col-xs-4 ds-cell col-mb-8 kstar-control " id="txt_{ColumnName}" title="{ColumnSummary}">
    <input class="form-control {HTMLTableFormGroupColumnItemRequired} col-pc-8" type="text" readonly id="{ColumnName}"
           data-bind="value:{ColumnName}.Name" />
    <span class="form-control-feedback" data-komodel="KStarForm.koContentModel.{ColumnName}" data-control="userpick" data-target="{ColumnName}" data-callback="userpickFillValue" data-controltype="Person" data-options="{mutilselect:true}">
        <i class=" glyphicon glyphicon-search">
        </i>
    </span>
</div>