<div class="ds-cell pr-xs-5 col-mb-8 col-xs-4 kstar-control" style=" margin:0px auto" id="txt_{ColumnName}" title="{ColumnSummary}">

    <input type="text" style="display:inline;" class="form-control {HTMLTableFormGroupColumnItemRequired} col-pc-6" id="txt_{ColumnName}" name="{ColumnName}" data-bind="datepicker: {ColumnName}, datepickerOptions: { format: 'YYYY-MM-DD HH:mm', pickTime: true, useMinutes: true, defaultDate:moment().format('YYYY-MM-DD 08:30'), sideBySide: true, minuteStepping: 15 }" />
    <span class="input-group-addon col-mb-1" style="width:initial;display:inline;border:0px;"><i class="glyphicon glyphicon-calendar"></i></span>
    <div class="mb-branch-ntype"></div>

</div>